<%= render "layouts/app_header.html.erb" %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'scan_urls', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="row">
  <div class="col s12 l8 offset-l2">
    <div class="row">
      <div class="col s12">
        <div class="card  grey lighten-5">
          <div class="card-content white-text">
            <span class="card-title black-text">Add URLs</span>
            <div class="row">
                <div class="row">
                  <%= render "form_scanner" %>
                  <%= @result %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


