<%= render "layouts/home_header.html.erb" %>
<div class="row light-blue darken-3 " style="height: 100vh;">
  <div class="row"></div>
  <div class="row" style="margin-top: 10vh">
    <div class="col s6 offset-s3">
      <h2 class="center-element white-text">#vulnerabilityScanner</h2>
    </div>
  </div>
</div>
